*, html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container2 {
    display: flex;
    width: 100%;
    background-color: black;
}

span {
    color: blue;
}

main {
    color: white;
}

.wrapper2 {
    display: flex;
    width: 100%;
    height: 70px;
    padding: 15px;
    position: fixed;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    background-color: black;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.021);
}

.logo2 {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-left: 14%;
    color: white;
}

.nav2 {
    display: flex;
    align-items: center;
    margin-right: 14%;
}

.nav2 > li {
    list-style-type: none;
    padding: 15px;
}

.nav2 > li > a {
    text-decoration: none;
    color: grey;
    font-size: 1.2rem;
    font-weight: 600;
}

.nav2 > li > a:hover {
    color: white;
    transition: all 0.2s ease-in-out;
}

.nav2 > li > img {
    width: 50px;
    height: 50px;
    margin-left: 120px;
    margin-top: 20%;
    border-radius: 50%;
}

.nav2 > li > img:hover {
    width: 45px;
    height: 45px;
    transition: all 0.2s ease-in;
}

.start {
    display: flex;
    height: 100vh;
    justify-content: center;
    padding-top: 70px;
    background-color: grey;
}

.start > main {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.start > main > h1 {
    margin-top: 15%;
    font-size: 2rem;
}

.start > main > p {
    margin-top: 3%;
    font-size: 1.2rem;
}

.angkatan {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    font-size: 1.0rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    width: 18rem; /* Fixed width for all screen sizes */
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
    width: 19rem;
    margin-bottom: 28px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.card-img-top {
    width: 100%;
    height: 12rem; 
    object-fit: cover;
}

@media (max-width: 768px) {
    .logo2 > h1 {
        margin-right: -80px;
        margin-top: 20px;
        
    }
}

@media (max-width: 768px) {
    .nav2 {
        width: 14rem;
    }
    .nav2 > li {
        margin-right: -25px;
    }
}

@media (max-width: 992px) {
    .card {
        width: 14rem;
    }
    .card-img-top {
        height: 10rem;
    }
}

@media (max-width: 768px) {
    .card {
        width: 12rem;
    }
    .card-img-top {
        height: 8rem;
    }
}

@media (max-width: 576px) {
    .card {
        width: 100%;
    }

    .card-img-top {
        height: 10rem;
    }

    .angkatan {
        justify-content: center;
    }
}